h1,
h2,
h3,
h4,
p,
.whichCity {
  font-family: "Dosis", sans-serif;
}

.card {
  background: radial-gradient(
    592px at 48.2% 50%,
    rgba(255, 255, 249, 0.6) 0%,
    rgb(160, 199, 254) 74.6%
  );
  border-radius: 20px;
}

.container {
  max-width: 600px;
  margin: 20px auto;
}

.whichCity {
  width: 100%;
}

.weatherMain {
  position: relative;
  top: -18px;
}

.currentContainer {
  padding: 10px;
  margin: 20px 0;
}

.currentCity {
  text-transform: capitalize;
}

.currentTemp {
  text-align: center;
  font-family: "Quicksand", sans-serif;
}

.tempScale {
  color: #000;
  text-decoration: none;
  font-size: 20px;
  position: relative;
  bottom: 10px;
}

.currentIcon {
  display: block;
  margin: 0 auto;
}

.forecastContainer {
  padding: 10px;
  text-align: center;
}

.forecastIcon {
  max-width: 50px;
}

.forecastTemp {
  font-size: 13px;
}

.highTemp {
  font-weight: 500;
  color: #982a19;
}
.lowTemp {
  opacity: 70%;
}

.host {
  text-align: right;
  font-size: 14px;
  padding: 5px;
}
